*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff; }

.benefit__img {
  background-color: forestgreen;
  grid-column: col-start 6 / center-end; }

.benefit__text {
  background-color: violet;
  grid-column: center-start / col-end 4; }

.clients {
  background-color: #ffffff;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5rem;
  margin-bottom: 10rem; }
  .clients__text {
    color: #191A15;
    font-weight: 700;
    justify-self: center; }
  .clients__logos {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2.5rem;
    justify-items: center; }

.cta {
  background-color: blue;
  grid-column: col-start 6 / center-end; }

.features {
  background-color: #ffffff;
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 6rem;
  color: #191A15; }

.feature {
  display: grid;
  grid-template-rows: 15rem max-content repeat(2, min-content);
  row-gap: 2rem; }
  .feature__img {
    width: 100%;
    height: 100%;
    justify-self: center; }
  .feature__text {
    color: #A6A6A6; }
  .feature__text-p {
    margin-top: 2rem; }
  .feature__button {
    display: inline-block;
    color: #FFFFFF;
    background-color: #54BD95;
    border-radius: 70px;
    border: none;
    height: 6.6rem;
    width: 16.2rem;
    align-self: start;
    justify-self: end;
    margin-top: 2rem;
    transition: all .2s; }
    .feature__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(22, 28, 40, 0.2);
      background-color: #4caa86;
      cursor: pointer; }
    .feature__button:active, .feature__button:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(22, 28, 40, 0.2); }

.footer {
  background-color: black;
  grid-column: col-start 6 / center-end; }

.navigation {
  background-color: #ffffff;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(20, [col-start] 1fr [col-end]);
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  font-size: 1.6rem; }
  .navigation__logo {
    grid-column: col-start 1 / col-end 3;
    display: inline-block;
    color: #54BD95;
    font-weight: 600;
    justify-self: start;
    align-self: center;
    margin-left: 1rem; }
  .navigation__list {
    grid-column: col-start 9 / col-end 15;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center; }
    .navigation__list-item {
      transition: all 0.2s; }
      .navigation__list-item:hover {
        transform: scale(1.125); }
  .navigation__link {
    text-decoration: none;
    list-style: none;
    color: #A6A6A6;
    transition: all 0.2s; }
    .navigation__link:hover {
      color: #000000; }
  .navigation__auth {
    grid-column: col-start 18 / col-end 20;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    align-items: center;
    margin-right: 1rem; }
    .navigation__auth-login {
      color: #A6A6A6; }
    .navigation__auth-signup {
      display: inline-block;
      width: 8rem;
      height: 4rem;
      border-radius: 10px;
      border: none;
      color: #ffffff;
      background-color: #54BD95;
      font-size: 1.6rem;
      transition: all 0.2s; }
      .navigation__auth-signup:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(22, 28, 40, 0.2);
        background-color: #4caa86;
        cursor: pointer; }
      .navigation__auth-signup:active, .navigation__auth-signup:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(22, 28, 40, 0.2); }

.hero__img {
  background-color: #ffffff;
  grid-column: col-start 6 / center-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr); }
  .hero__img-bg {
    grid-column: 4 / 10;
    grid-row: 2 / 8;
    background-color: #54BD95;
    height: 526px;
    width: 410px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .hero__img-bg--man {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      align-self: end; }
  .hero__img-amt {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin-top: 2rem;
    background-color: #ffffff;
    width: 26.2rem;
    height: 7.8rem;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.2rem rgba(22, 28, 40, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .hero__img-amt--text {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      padding-left: 2rem; }
      .hero__img-amt--text---txt {
        color: #A6A6A6;
        align-self: end;
        padding-bottom: 0.5rem; }
      .hero__img-amt--text---num {
        color: #000000;
        font-weight: 500; }
    .hero__img-amt--btn {
      justify-self: end;
      align-self: center;
      padding-right: 2rem; }
      .hero__img-amt--btn---send {
        background-color: #54BD95;
        color: #ffffff;
        width: 6.4rem;
        height: 2.8rem;
        border: none;
        border-radius: 40px;
        transition: all 0.2s; }
        .hero__img-amt--btn---send:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba(22, 28, 40, 0.2);
          background-color: #4caa86;
          cursor: pointer; }
  .hero__img-storage {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: end;
    margin-right: -2rem;
    background-color: #FBC75E;
    border-radius: 10px;
    width: 4.857rem;
    height: 4.857rem;
    transform: rotate(15deg);
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .hero__img-storage--icon {
      width: 2rem;
      height: 2rem;
      fill: #F8F8FA;
      justify-self: center;
      align-self: center; }
  .hero__img-check {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: end;
    background-color: #4535AF;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    transform-origin: bottom left;
    transform: rotate(-15deg);
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .hero__img-check--icon {
      width: 2rem;
      height: 2rem;
      fill: #FFFFFF;
      justify-self: center;
      align-self: center; }
  .hero__img-income {
    grid-column: 3 / 5;
    grid-row: 7 / 8;
    margin-left: -2rem;
    background-color: #ffffff;
    height: 7rem;
    width: 13.8rem;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.2rem rgba(22, 28, 40, 0.2);
    display: grid;
    grid-template-columns: max-content 1fr; }
    .hero__img-income--text {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      padding-left: 1rem; }
      .hero__img-income--text---1 {
        color: #A6A6A6;
        align-self: end;
        padding-bottom: 0.5rem; }
      .hero__img-income--text---2 {
        color: #000000;
        font-weight: 500; }
    .hero__img-income--chart {
      fill: #54BD95;
      height: 2rem;
      width: 2rem;
      justify-self: center;
      align-self: center;
      margin-top: 2rem;
      transform: scaleX(-1); }
  .hero__img-chat {
    grid-column: 7 / 8;
    grid-row: 9 / 10;
    background-color: #FFAA94;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    transform: rotate(15deg);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 7rem; }
    .hero__img-chat--bubble {
      width: 2rem;
      height: 2rem;
      fill: #ffffff;
      justify-self: center;
      align-self: center; }
  .hero__img-card {
    grid-column: 8 / 10;
    grid-row: 6 / 9;
    margin: 4rem 0 0 4rem;
    background-color: #161C28;
    height: 18.8rem;
    width: 14.6rem;
    border-radius: 10px;
    transform-origin: bottom right;
    overflow: hidden;
    transform: rotate(15deg);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem; }
    .hero__img-card--circle {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1.3rem;
      position: relative; }
      .hero__img-card--circle---1 {
        background-color: #a6a6a699;
        border-radius: 50px;
        width: 2.8rem;
        height: 2.8rem;
        margin-left: 1rem; }
      .hero__img-card--circle---2 {
        background-color: #a6a6a6a9;
        border-radius: 50px;
        width: 2.8rem;
        height: 2.8rem;
        margin-left: -2rem; }
      .hero__img-card--circle---3 {
        background-color: #232937;
        border-radius: 100px;
        width: 10.8rem;
        height: 10.8rem;
        justify-self: end;
        align-self: start;
        position: absolute;
        bottom: -10%;
        left: 62%; }
    .hero__img-card--text {
      color: #F8F8FA;
      margin-left: 1rem; }
    .hero__img-card--btm {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: relative; }
      .hero__img-card--btm---circle {
        background-color: #232937;
        width: 12.8rem;
        height: 12.8rem;
        border-radius: 100px;
        justify-self: start;
        align-self: end;
        top: -40%;
        right: 62%;
        position: absolute;
        z-index: 1; }
      .hero__img-card--btm---square {
        grid-column: 1 / span 1;
        justify-self: center;
        align-self: center;
        background-color: #a6a6a699;
        width: 3.4rem;
        height: 2.2rem;
        border-radius: 4px;
        z-index: 2; }
      .hero__img-card--btm---text {
        grid-column: 3 / span 1;
        justify-self: center;
        align-self: center; }

.hero__text {
  grid-column: center-start / col-end 5;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  row-gap: 3.5rem;
  grid-template-columns: 35vw; }
  .hero__text-h1 {
    color: #191A15;
    line-height: 1.2; }
    .hero__text-h1::after {
      content: "";
      display: block;
      height: 1rem;
      width: 60rem;
      display: block;
      background-color: #54BD95;
      margin: 4rem 0 1rem 0;
      border-radius: 10px; }
  .hero__text-arc {
    justify-self: start;
    align-self: center; }
  .hero__text-p {
    color: #000000;
    justify-self: start;
    align-self: start; }
  .hero__text-trial {
    display: grid;
    grid-template-columns: max-content min-content max-content;
    column-gap: 1.5rem; }
    .hero__text-trial-btn {
      display: inline-block;
      background-color: #54BD95;
      color: #ffffff;
      height: 6.2rem;
      width: 16.5rem;
      border-radius: 40px;
      border: none;
      margin-right: 2rem;
      justify-self: center;
      align-self: center;
      transition: all 0.2s; }
      .hero__text-trial-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(22, 28, 40, 0.2);
        background-color: #4caa86;
        cursor: pointer; }
      .hero__text-trial-btn:active, .hero__text-trial-btn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(22, 28, 40, 0.2); }
    .hero__text-trial-img {
      justify-self: center;
      align-self: center;
      transition: all 0.2s; }
      .hero__text-trial-img:hover {
        cursor: pointer; }
    .hero__text-trial-p {
      color: #191A15;
      justify-self: center;
      align-self: center; }

.container {
  display: grid;
  grid-template-rows: 20vh 80vh max-content 40vw min-content 40vw min-content 40vw min-content;
  grid-template-columns: [left-start] minmax(6rem, 1fr) [left-end center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end right-start] minmax(6rem, 1fr) [right-end]; }

.partner__activities {
  background-color: slateblue;
  grid-column: col-start 7 / center-end; }

.partner__support {
  background-color: cornflowerblue;
  grid-column: center-start / col-end 5; }

.plans {
  background-color: brown;
  grid-column: center-start / center-end; }

.subscribe {
  background-color: burlywood;
  grid-column: center-start / col-end 4; }

.testimonials {
  background-color: indianred;
  grid-column: center-start / col-end 4; }

.heading-1 {
  font-size: 8rem; }

.heading-2 {
  font-size: 5rem; }

.heading-2-1 {
  font-size: 4rem; }

.heading-3 {
  font-size: 3rem; }

.paragraph-1 {
  font-size: 1.8rem; }

.paragraph-2 {
  font-size: 1.6rem; }

.paragraph-3 {
  font-size: 1.2rem; }
