*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff; }

.benefit__img {
  background-color: forestgreen;
  grid-column: col-start 6 / center-end; }

.benefit__text {
  background-color: violet;
  grid-column: center-start / col-end 4; }

.cta {
  background-color: blue;
  grid-column: col-start 6 / center-end; }

.features {
  background-color: #ffffff;
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  color: #191A15; }

.feature {
  display: grid;
  grid-template-rows: 15rem max-content repeat(2, min-content);
  grid-gap: 2rem; }
  .feature__img {
    width: 100%;
    height: 100%;
    justify-self: center; }
  .feature__text {
    font-size: 1.8rem;
    color: #A6A6A6; }
  .feature__text-p {
    margin-top: 2rem; }
  .feature__button {
    display: inline-block;
    font-size: 1.8rem;
    color: #FFFFFF;
    background-color: #54BD95;
    border-radius: 70px;
    border: none;
    padding: 2.5rem 4.5rem;
    align-self: start;
    justify-self: end;
    margin-top: 2rem;
    transition: all .2s; }
    .feature__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(22, 28, 40, 0.2);
      background-color: #4caa86;
      cursor: pointer; }
    .feature__button:active, .feature__button:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(22, 28, 40, 0.2); }

.heading-2 {
  font-size: 5rem; }

.heading-3 {
  font-size: 3rem; }

.footer {
  background-color: black;
  grid-column: col-start 6 / center-end; }

.navigation {
  background-color: orangered;
  grid-column: center-start / center-end; }

.hero__img {
  background-color: pink;
  grid-column: col-start 7 / center-end; }

.hero__text {
  background-color: brown;
  grid-column: center-start / col-end 5; }

.container {
  display: grid;
  grid-template-rows: 10vh 90vh 40vw min-content 40vw min-content 40vw min-content;
  grid-template-columns: [left-start] minmax(6rem, 1fr) [left-end center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end right-start] minmax(6rem, 1fr) [right-end]; }

.partner__activities {
  background-color: slateblue;
  grid-column: col-start 7 / center-end; }

.partner__support {
  background-color: cornflowerblue;
  grid-column: center-start / col-end 5; }

.plans {
  background-color: brown;
  grid-column: center-start / center-end; }

.subscribe {
  background-color: burlywood;
  grid-column: center-start / col-end 4; }

.testimonials {
  background-color: indianred;
  grid-column: center-start / col-end 4; }
