*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff; }

.benefits {
  background-color: violet;
  grid-column: center-start / center-end; }

.cta {
  background-color: blue;
  grid-column: center-start / center-end; }

.features {
  background-color: aquamarine;
  grid-column: center-start / center-end; }

.footer {
  background-color: black;
  grid-column: center-start / center-end; }

.header {
  background-color: orangered;
  grid-column: center-start / center-end; }

.hero {
  background-color: brown;
  grid-column: center-start / center-end; }

.container {
  display: grid;
  grid-template-rows: 10vh 90vh 40vw min-content 40vw min-content 40vw min-content;
  grid-template-columns: [left-start] 1fr [left-end center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end right-start] 1fr [right-end]; }

.partners {
  background-color: cornflowerblue;
  grid-column: center-start / center-end; }

.plans {
  background-color: brown;
  grid-column: center-start / center-end; }
