// COLOR VARIBLES
$color-primary: #ffffff;

$color-secondary: #54BD95;
$color-secondary-light-1: #85DAB9;
$color-secondary-light-2: #6BC2A1;
$color-secondary-dark: #4caa86;

$color-tertiary-dark-1: #222938;
$color-tertiary-dark-2: #161C28;

$color-yellow: #FBC75E;
$color-gold: #FFC728;
$color-purple: #4535AF;
$color-white: #F8F8FA;
$color-peach: #FFAA94;
$color-grey-1: #A6A6A6;
$color-grey-2: #232937;
$color-grey-3: #a6a6a699;
$color-grey-4: #a6a6a6a9;
$color-grey-5: #232937c8;
$color-grey-6: #F9F8FE;
$color-grey-7: #F9FAFB;
$color-blue-1: #161C28;
$color-blue-2: #222938;

$color-text-light: #FFFFFF;
$color-text-dark-1: #A6A6A6;
$color-text-dark-2: #191A15;
$color-text-dark-3: #000000;

// FONT VARIABLES
$font-primary: 'Inter', sans-serif;

// FONT SIZES
$h1: 8rem; 
$h2: 5rem;
$h2-1: 4rem;
$h3: 3rem;
$h4: 2.8rem;

$p1: 1.8rem;
$p2: 1.6rem;
$p2-1: 1.4rem;
$p3: 1.2rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px / 16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    font-weight: 500;
    line-height: 1.6;
    color: #ffffff;
}