.benefit {
  grid-column: left-start / right-end;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &__text {
    grid-column: 2 / 6;

    &-content {
      display: grid;
      grid-template-rows: max-content 1fr;
      row-gap: 4rem;
      margin: 2rem 0 2rem 2rem;

      &--h2 {
        color: $color-text-dark-2;
        font-weight: 700;
      }

      &--benefits {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 2rem;

        &---block {
          display: grid;
          grid-template-columns: min-content 1fr;
          column-gap: 1.5rem;

          &----icon {
            background-color: $color-secondary;
            border-radius: 50px;
            width: 3.2rem;
            height: 3.2rem;
            justify-self: start;
            align-self: center;

            display: grid;
            grid-template-columns: 1fr;

            &-----wrap {
              width: 2rem;
              height: 2rem;
              fill: $color-primary;
              justify-self: center;
              align-self: center;
            }
          }

          &----p1 {
            color: $color-text-dark-2;
            font-weight: 500;
            justify-self: start;
            align-self: center;
          }
        }
      }
    }
  }

  &__img {
    background-color: forestgreen;
    grid-column: 8 / 12;
  }
}
