.clients {
    background-color: $color-primary;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5rem;
    margin-bottom: 10rem;
    
    &__text {
        color: $color-text-dark-2;
        font-weight: 700;
        justify-self: center;
    }

    &__logos {
        justify-self: center;
        align-self: center;

        display: grid;;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2.5rem;
        justify-items: center;

    }

}