.features {
    background-color: $color-primary;
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;

    color: $color-text-dark-2;
}

.feature {
    display: grid;
    grid-template-rows: 15rem max-content repeat(2, min-content);
    grid-gap: 2rem;

    &__img {
        width: 100%;
        height: 100%;
        justify-self: center;
    }

    &__text {
        color: $color-text-dark-1;
    }

    &__text-p {
        margin-top: 2rem;
    }

    &__button {
        display: inline-block;
        color: $color-text-light;
        background-color: $color-secondary;
        border-radius: 70px;
        border: none;
        padding: 2.5rem 4.5rem;
        align-self: start;
        justify-self: end;
        margin-top: 2rem;

        transition: all .2s;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-tertiary-dark-2, .2);
            background-color: $color-secondary-dark;
            cursor: pointer;
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba($color-tertiary-dark-2, .2);
        }

        // &:link,
        // &:visited {
            
        // }
    }

}

// .heading-2 {
//     font-size: $h2;
// }

// .heading-3 {
//     font-size: $h3;
// }