.hero__text {
  grid-column: center-start / col-end 5;
  background-color: $color-primary;

  display: grid;
  grid-template-rows: repeat(4, max-content) ;
//   grid-template-rows: repeat(2, max-content) repeat(2, min-content) ;
  row-gap: 3.5rem;
  grid-template-columns: 35vw;
//   grid-template-columns: min-content;

  &-h1 {
    color: $color-text-dark-2;
    line-height: 1.2;
  }

  &-arc {
    justify-self: start;
    align-self: center;
  }

  &-p {
    color: $color-text-dark-3;
    justify-self: start;
    align-self: start;
    
  }

  &-trial {

    &-btn {
        display: inline-block;
        background-color: $color-secondary;
        color: $color-primary;
        height: 6.2rem;
        width: 16.5rem;
        border-radius: 40px;
        border: none;
    }

    &-img {
    }

    &-p {
      color: $color-text-dark-2;
    }
  }
}
