.hero__img {
  background-color: $color-primary;
  grid-column: col-start 6 / center-end;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  // grid-template-rows: repeat(10 [row-start] 1fr [row-end]); // experiment

  &-bg {
    grid-column: 4 / 10;
    grid-row: 2 / 8;

    background-color: $color-secondary;
    height: 526px; //TODO
    width: 410px; //TODO
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(1, 1fr);

    &--man {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      align-self: end;
    }
  }

  &-amt {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin-top: 2rem;

    background-color: $color-primary;
    width: 26.2rem;
    height: 7.8rem;
    // outline: 1px solid $color-secondary;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.2rem rgba($color-tertiary-dark-2, 0.2);

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &--text {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      padding-left: 2rem;

      &---txt {
        color: $color-text-dark-1;
        align-self: end;
        padding-bottom: 0.5rem;
      }

      &---num {
        color: $color-text-dark-3;
        font-weight: 500;
      }
    }

    &--btn {
      justify-self: end;
      align-self: center;
      padding-right: 2rem;

      &---send {
        background-color: $color-secondary;
        color: $color-primary;
        width: 6.4rem;
        height: 2.8rem;
        border: none;
        border-radius: 40px;
        transition: all 0.2s;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba($color-tertiary-dark-2, 0.2);
          background-color: $color-secondary-dark;
          cursor: pointer;
        }
      }
    }
  }

  &-storage {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: end;
    margin-right: -2rem;

    background-color: $color-yellow;
    border-radius: 10px;
    width: 4.857rem;
    height: 4.857rem;

    transform: rotate(15deg); //TODO

    display: grid;
    grid-template-columns: repeat(1, 1fr);

    &--icon {
      width: 2rem;
      height: 2rem;
      fill: $color-white;
      justify-self: center;
      align-self: center;
    }
  }

  &-check {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    align-self: end;

    background-color: $color-purple;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    transform-origin: bottom left;
    transform: rotate(-15deg);

    display: grid;
    grid-template-columns: repeat(1, 1fr);

    &--icon {
      width: 2rem;
      height: 2rem;
      fill: $color-text-light;
      justify-self: center;
      align-self: center;
    }
  }

  &-income {
    grid-column: 3 / 5;
    grid-row: 7 / 8;
    margin-left: -2rem;

    background-color: $color-primary;
    height: 7rem;
    width: 13.8rem;
    border-radius: 10px;
    box-shadow: 0 0.2rem 0.2rem rgba($color-tertiary-dark-2, 0.2);

    display: grid;
    grid-template-columns: max-content 1fr;

    &--text {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      padding-left: 1rem;

      &---1 {
        color: $color-text-dark-1;
        align-self: end;
        padding-bottom: 0.5rem;
      }

      &---2 {
        color: $color-text-dark-3;
        font-weight: 500;
      }
    }

    &--chart {
      fill: $color-secondary;
      height: 2rem;
      width: 2rem;
      justify-self: center;
      align-self: center;
      margin-top: 2rem;

      transform: scaleX(-1); //mirror image on X axis
    }
  }

  &-chat {
    grid-column: 7 / 8;
    grid-row: 9 / 10;
    background-color: $color-peach;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    transform: rotate(15deg);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 7rem;

    &--bubble {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
      justify-self: center;
      align-self: center;
    }
  }

  &-card {
    grid-column: 8 / 10;
    grid-row: 6 / 9;
    margin: 4rem 0 0 4rem;

    background-color: $color-tertiary-dark-2;
    height: 18.8rem;
    width: 14.6rem;
    border-radius: 10px;
    transform-origin: bottom right;
    overflow: hidden;
    transform: rotate(15deg);

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;

    &--circle {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1.3rem;
      position: relative;

      &---1 {
        background-color: $color-grey-3;
        border-radius: 50px;
        width: 2.8rem;
        height: 2.8rem;
        margin-left: 1rem;
      }

      &---2 {
        background-color: $color-grey-4;
        border-radius: 50px;
        width: 2.8rem;
        height: 2.8rem;
        margin-left: -2rem;
      }

      &---3 {
        background-color: $color-grey-2;
        border-radius: 100px;
        width: 10.8rem;
        height: 10.8rem;
        justify-self: end;
        align-self: start;
        position: absolute;
        bottom: -10%;
        left: 62%;
      }
    }

    &--text {
      color: $color-white;
      margin-left: 1rem;
    }

    &--btm {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: relative;

      &---circle {
        background-color: $color-grey-2;
        width: 12.8rem;
        height: 12.8rem;
        border-radius: 100px;
        justify-self: start;
        align-self: end;
        top: -40%;
        right: 62%;
        position: absolute;
        z-index: 1;
      }

      &---square {
        grid-column: 1 / span 1;
        justify-self: center;
        align-self: center;
        background-color: $color-grey-3;
        width: 3.4rem;
        height: 2.2rem;
        border-radius: 4px;
        z-index: 2;
      }

      &---text {
        grid-column: 3 / span 1;
        justify-self: center;
        align-self: center;
      }
    }
  }
}
