.hero__text {
  grid-column: center-start / col-end 5;
  background-color: $color-primary;

  display: grid;
  grid-template-rows: repeat(4, max-content);
  //   grid-template-rows: repeat(2, max-content) repeat(2, min-content) ;
  row-gap: 3.5rem;
  grid-template-columns: 35vw;
  //   grid-template-columns: min-content;

  &-h1 {
    color: $color-text-dark-2;
    line-height: 1.2;
  }

  &-arc {
    justify-self: start;
    align-self: center;
  }

  &-p {
    color: $color-text-dark-3;
    justify-self: start;
    align-self: start;
  }

  &-trial {
    display: grid;
    grid-template-columns: max-content min-content max-content;
    column-gap: 1.5rem;

    &-btn {
      display: inline-block;
      background-color: $color-secondary;
      color: $color-primary;
      height: 6.2rem;
      width: 16.5rem;
      border-radius: 40px;
      border: none;
      margin-right: 2rem;

      justify-self: center;
      align-self: center;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-tertiary-dark-2, 0.2);
        background-color: $color-secondary-dark;
        cursor: pointer;
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-tertiary-dark-2, 0.2);
      }
    }

    &-img {
      justify-self: center;
      align-self: center;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
      }
    }

    &-p {
      color: $color-text-dark-2;
      justify-self: center;
      align-self: center;
    }
  }
}
