.container {
    display: grid;
    grid-template-rows: 10vh 90vh 40vw min-content 40vw min-content 40vw min-content;
    grid-template-columns: [left-start] 1fr [left-end 
                            center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end 
                            right-start] 1fr [right-end];
}