.heading-1 {
    font-size: $h1;
}

.heading-2 {
    font-size: $h2;
}

.heading-3 {
    font-size: $h3;
}

.paragraph-1 {
    font-size: $p1;
}

.paragraph-2 {
    font-size: $p2;
}

.paragraph-3 {
    font-size: $p3;
}