@import "base";
@import "benefit__image";
@import "benefit__text";
@import "cta";
@import "features";
@import "footer";
@import "navigation";
@import "hero__img";
@import "hero__text";
@import "layout";
@import "partner__activities";
@import "partner__support";
@import "plans";
@import "subscribe";
@import "testimonials";